VITE_GEMINI_API_KEY=tu_clave_gemini_aqui
VITE_GOOGLE_MAPS_PLATFORM_KEY=tu_clave_google_maps_aqui
VITE_SUPABASE_URL=https://trfsjuseqjxlhrxuvdsm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_bbCcM7ElzH-iGAQw8Qefzg_ZmO0sKH8
